.signup-page
  .title
    %h1 アカウントを作成
  .attention
    %p アカウントを作成すると、利用規約およびプライバシーポリシーに同意するものとします。
  = link_to "TOPへ", root_path
  .form
    %label
    %text_field
  .login
    %p すでにアカウントをお持ちの方
    %a ログイン