Stairsは働く皆さんを応援します！
会社で働いていると、資格やスキルの勉強に直面するのではないでしょうか。
自主的に勉強しようと思えない方は、「社会人になってもまだ勉強するの？」と感じていることでしょう。
%br
そこで、Stairsは働きながら勉強をがんばろうとしているあなたを応援します！
レベルアップする感覚を味わいながら日々のアウトプットをすることで、モチベーションを長く維持し続けることができるはずです。
Stairsでは、共にがんばっている社会人と高め合うことができます。
%br
さあ、早速あなたのスキルアップのための学習を始めましょう！
%br
- if user_signed_in?
  .report-create
    = link_to "学習を始める" , new_report_path
- else
  .submit
    = link_to "新規登録" , new_user_registration_path
.top-link
  = link_to "TOPへ" , root_path