.register-tag {
  margin: 32px 32px 0px;
  width: calc(100% - 240px);
  &__heading {
    color: gray;
    font-size: 32px;
    opacity: 0.6;
  }
  &__lists {
    margin-top: 24px;
    &__tag-container {

      &--image {
        @include width-height(280px,200px);
        background-size: cover;
      }
    }
  }
}