* {
  box-sizing: border-box;
}

.signup-page {
  height: 600px;
  width: 50%;
  background-color: rgb(240, 240, 240);
  text-align: center;
  margin: 100px auto;
  .title {

  }
  .attention {

  }
}