* {
  box-sizing: border-box;
}

.header-container {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  box-shadow: 0px 5px 5px rgb(220, 220, 220);
  .left-content {
    display: flex;
    justify-content: flex-start;
    &__logo {
      font-size: 25px;
      line-height: 64px;
      cursor: pointer;
      a {
        font-size: 24px;
        text-decoration: none;
        color: gold;
        margin-right: 4px;
      }
      b {
        color: rgb(140,140,140);
      }
    }
    &__how-to-use {
      color: rgb(110,110,110);
      font-size: 18px;
      line-height: 64px;
      margin-left: 32px;
      cursor: pointer;
    }
    &__how-to-use:hover {
      color: gold;
    }
  }
  .right-content {
    &__user-nav {
      display: flex;
      justify-content: flex-end;
      // line-height: 64px;
        position: relative;
      .btn {
        line-height: 64px;
        a {
          color: rgb(140,140,140);
          text-decoration: none;
          cursor: pointer;
          border: gold solid 1.2px;
          border-radius: 5px;
          padding: 8px 16px;
          margin-left: 20px;
        }
        a:hover {
          background-color: rgba(255, 239, 146, 0.699);
          color: rgb(140,140,140);
        }
      }
      &--user-list {
        
        line-height: 64px;
        cursor: default;
      }
      .user-pulldown-list {
        height: 300px;
        width: 160px;
        background-color: white;
        box-shadow: 0px 3px 5px 2px rgb(220, 220, 220);
        position: absolute;
        top: 64px;
        right: 0px;
        z-index: 100;
        display: none;
        a {
          display: block;
          height: 32px;
          color: rgb(140,140,140);
          line-height: 32px;
          padding-left: 16px;
          text-decoration: none;
          cursor: pointer;
        }
        a:hover {
          background-color: rgb(240,240,240);
          color: #2b546a;;
        }
      }
        // .user-pulldown-list:hover {
        //   background-color: white;
        // }
    }
  }
}


.main-wrapper {
  height: 1500px;
  width: 100%;
  color: rgb(100,100,100);
  margin: 0 auto;

  .information {
    height: 600px;
    // color: black;
    // border-bottom: 1px solid rgb(140,140,140);
    padding: 40px;

    background-image: image-url("topimage.jpg");
    background-size: cover;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    &__heading {
      font-size: 36px;
      // color: #2b546a;

      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    p {
      font-size: 20px;
    }
    &__store-icon {
      margin-top: 20px;
      img {
        width: 180px;
      }
    }
    .store-icon:hover {
      opacity: 0.5;
    }
    .app-store {
      margin-right: 10px;
    }
    .google-play {
      margin-left: 10px;
    }
  }

  .guide {
    height: 400px;
    padding: 48px 96px;
    border-bottom: 1px solid rgb(140,140,140);
    h1 {
      font-size: 24px;
      color: green;
      text-align: center;
      padding-bottom: 32px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      .user-type-container {
        height: 250px;
        width: 250px;
        cursor: pointer;
        text-decoration: none;
      }
      .user-content {
        height: 172px;
        width: 248px;
        border: solid 1px gray;
        border-radius: 10px;
        background-size: cover;
        // &:hover {
        //   opacity: 0.7;
        // }
      }
      #unimplemented {
        background-color:rgba(0,0,0,0.8);
        background-blend-mode: darken;
      }
      &--elementary-school {
        background-image: image-url("elementary-school.jpg");
      }
      &--student {
        background-image: image-url("student.jpg");
      }
      &--college-student {
        background-image: image-url("college-student.jpg");
      }
      &--society {
        background-image: image-url("society.jpg");
      }
      &--society:hover {
        opacity: 0.7;
      }
      .user-type {
        color: black;
        line-height: 76px;
        text-align: center;
        &:hover {
          color: #2b546a;
          font-weight: bold;
        }
      }
    }
  }
  .popular-zone {
    height: 400px;
    padding: 40px;
    &__society {
    }
    .title {
      color: #2b546a;
      font-size: 24px;
    }
  }


}






.footer {
  height: 50px;
  width: 100%;
  background-color: gray;
  p {
    color: white;
    text-align: center;
    line-height: 50px;
  }
}