* {
  box-sizing: border-box;
}

.header-container {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  box-shadow: 0px 5px 5px rgb(220, 220, 220);
  .left-content {
    display: flex;
    justify-content: flex-start;
    &__logo {
      font-size: 25px;
      line-height: 64px;
      cursor: pointer;
      a {
        font-size: 24px;
        text-decoration: none;
        color: gold;
        margin-right: 4px;
      }
      b {
        color: rgb(140,140,140);
      }
    }
    &__how-to-use {
      color: rgb(110,110,110);
      font-size: 18px;
      line-height: 64px;
      margin-left: 32px;
      cursor: pointer;
    }
    &__how-to-use:hover {
      color: gold;
    }
  }
  .right-content {
    &__user-nav {
      display: flex;
      justify-content: flex-end;
      line-height: 64px;

      a {
        color: rgb(140,140,140);
        border: gold solid 1.2px;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 16px;
        text-decoration: none;
        margin-left: 20px;
      }
      a:hover {
        background-color: rgba(255, 239, 146, 0.699);
        color: rgb(140,140,140);
      }
    }
  }
}

.main-wrapper {
  height: 1500px;
  width: 100%;
  // background-color: #e3e3e3;
  color: rgb(100,100,100);
  margin: 0 auto;

  .information {
    height: 600px;
    // background-color: rgb(220, 220, 220);
    color: black;
    border-bottom: 1px solid rgb(140,140,140);
    padding: 40px;
    h1 {
      font-size: 36px;
      color: #2b546a;
    }
    p {
      font-size: 20px;
    }
  }

  .guide {
    height: 400px;
    padding: 48px 96px;
    border-bottom: 1px solid rgb(140,140,140);
    h1 {
      font-size: 24px;
      color: green;
      text-align: center;
      padding-bottom: 32px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      .user-type-container {
        height: 250px;
        width: 250px;
        cursor: pointer;
        text-decoration: none;
      }
      .user-content {
        height: 172px;
        width: 248px;
        border: solid 1px gray;
        border-radius: 10px;
        background-color: gray;
        background-size: cover;
      }
      &--grade-school-student {
        background-image: url(grade-school-student.jpg);
      }
      &--grade-school-student:hover {
        opacity: 0.7;
      }
      &--middle-and-high-school-student {
        // background-image: url(businessman.jpg);
      }
      &--middle-and-high-school-student:hover {
        opacity: 0.7;
      }
      &--college-student {
        // background-image: url(businessman.jpg);
      }
      &--college-student:hover {
        opacity: 0.7;
      }
      &--businessman {
        background-image: url(businessman.jpg);
      }
      &--businessman:hover {
        opacity: 0.7;
      }
      p {
        color: black;
        line-height: 76px;
        text-align: center;
      }
      p:hover {
        color: #2b546a;
      }
    }
  }
  .popular-zone {
    height: 400px;
    padding: 40px;
    &__businessman {
  
    }
    .title {
      color: #2b546a;
      font-size: 24px;
    }
  
  }


}






.footer {
  height: 50px;
  width: 100%;
  background-color: gray;
  p {
    color: white;
    text-align: center;
    line-height: 50px;
  }
}